*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header,
body{
	font-family: 'OpenSans-Reg';
	color: #9ba4b0;
}
a{
	text-decoration: none;
	color: #9ba4b0;
}
li{
	list-style: none;
}
option{
	border: none;
}
header{
	width: 80%;
	margin: 0 auto;
}
.container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	padding-bottom: 100px;
}
.row{
	display: flex;
}
.header-section{
	display: flex;
	justify-content: space-between;
}
.logo{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 20px;
	padding-left: 7px;
	text-transform: uppercase;
	font-family: 'OpenSans-Ext-Bold';
}
.logo a{
	color: #161920;
}
.logo img{
	padding-left: 15px;
	padding-right: 5px;
}
.login-menu>li{
	color: #000;
}
.login-menu{
	display: flex;
	margin: 25px 0 30px;
	font-size: 14px;
	border-top: 1px solid #9ba4b0;
	border-bottom: 1px solid #9ba4b0;
}
.login-menu li{
	margin: 0 10px 0 10px;
	padding: 0 0 0 20px;
	line-height: 45px;
	border-left: 1px solid #9ba4b0;
	border-image: 
	linear-gradient(
		to bottom, 
		#9ba4b0, 
		rgba(0, 0, 0, 0)
		) 1 100%;
}
.login-menu li:first-child{
	border: none;
}
.navigation{
	display: flex;
}
.navigation li{
	flex-grow: 1;
	line-height: 55px;
	background-color: var(--buttons-color);
	transition: background-color 1s ease-out;
	text-transform: uppercase;
	font-size: 13px;
	text-align: center;
	cursor: pointer;
}
.navigation li a{
	color: #fff;
}
.navigation li:hover{
	background-color: #52cbf8;
	transition: background-color 1s ease-out;
}
/*header end*/


/*Content body*/

/*search-bar*/
.search-domain_wrap{
	background-color: #e7f4f8;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 50px;
	animation: search_domain_wrap 1s ease-out;
}
/*logo*/
.search-domain_logo,
.benefits_logo{
	width: 20%;
	padding-left: 30px;
	animation: search_domain_logo 1s ease-out;	


}
.search-domain_logo img{
	width: 25px;
	height: 26px; 
    margin-right: 95px;
    margin-bottom: 10px;
}
.search-domain_logo p,
.benefits_logo p{
	font-size: 18px;
	text-transform: uppercase;
}
.search-domain_logo span,
.benefits_logo span{
	font-size: 28px;
	font-family: 'OpenSans-Ext-Bold';
	color: #556b72;
}
.benefits_logo>span{
	height: 2px;
	border-radius: 2px;
	display: block;
    box-shadow: inset 25px 0px 0px 0px #ff8261;
	margin-top: 71px;
	margin-bottom: 5px;
	animation: benefits_logo_span 0.8s ease-out;
}
/*logo end*/



/*search form*/
.search-domain_form{
	margin-top: 40px;
	width: 70%
}
.search-domain_form input{
	border: 1px solid #dfeef3;
	line-height: 55px;
	width: 40%;
	padding-left: 25px;
}
.search-domain_form select{
	padding-left: 25px;
	color: #9ba4b0;
}
.search-domain_form button{
	color: #fff;
	font-size: 14px;
	font-family: 'OpenSans-Bold';
	text-transform: uppercase;
	background-color: var(--buttons-color);
	cursor: pointer;
}
.search-domain_form select,
.search-domain_form button{
	padding-top: 19px;
	padding-bottom: 19px;
	width: 18%;
	border: none;
}
/*search form end*/
/*content start*/
.col-3x{
	width: 33.33%;
	display: flex;
}
.benefits_content{
	padding-top: 40px;
	padding-left: 35px;
}
.benefits_content img{
	width: 55px;
	height: 50px;
	margin-right: 30px;
}
.benefits_content ul{
	display: flex;
	flex-direction: column;
}
.benefits_content ul li{
	font-size: 13.5px;
}

.benefits_content ul li:first-child{
	font-size: 16px;
	text-transform: uppercase;
	font-family: 'OpenSans-Ext-Bold';
	color: #556b72;
	padding-bottom: 20px;
}